# Xcode
DerivedData/
build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Keep SPM Package.resolved
!*.xcodeproj/project.xcworkspace/xcshareddata/
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/
